# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Python packaging
build/
dist/
*.egg-info/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# IDE / Editor
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Pytest / Coverage
# -----------------------------
.pytest_cache/
.coverage
htmlcov/

# -----------------------------
# Docker
# -----------------------------
docker-data/
*.tar

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Mypy / Ruff / Linters
# -----------------------------
.mypy_cache/
.ruff_cache/